<script type="text/javascript" src='index.js'></script>

<script src='vue.js'></script>

<div id="vm01">
    <button-counter></button-counter>
    <button-counter></button-counter>
    <button-counter></button-counter>
</div>

<div id="vm02">
    <blog-post v-for="post in posts" :key="post.id" :title="post.title">    
</div> 

<div id="vm03">
    <div :style="{ fontSize: postFontSize + 'em' }">
        <blog-post v-for="post in posts" :key="post.id" :title="post.title" v-on:enlarge-text="enlargeFontSize">    
    </div>
</div> 
